<a href="http://localhost:3000/" id="homepage__button">
    <- back to homepage</a>

        <div id="author__section">
            <img src="https://i.pinimg.com/564x/f5/6b/ae/f56baef86aed6c261c422402aab59065.jpg" alt="profile pic"
                id="pp">
            <% authorInfo.forEach(function(author){ %>
        <h3>
            <%= author.name %>
                <%= author.surname %>
                (<%= author.id %>)
        </h3>
        <a href="http://localhost:3000/visulization/author/<%= author.id %>" id="vis">visulization</a>
        <% }) %>
</div>





    <div id="main__container">
        <div class="search__section">
    <div id="articles__section">
        <h1>Articles</h1>
        <ul id="articles__list">
    <% let i=0 %>
        <% authorArticles.forEach(function(article){ %>
            <li class="article">
                <% articleCollaborators[i].forEach(function(author){ %>
                    <a href="http://localhost:3000/authors/<%= author.id %>" style="margin-right: 0.2rem;">
                    <%= author.name %> <%= author.surname %>
                    </a>
                            <% }) %>
                                <p style="font-weight: 700;">
                                    <%= article.title %>
                                        <%= article.year %>
                                </p>

            </li>

            <% i++ %>
                <% }) %>
        </ul>
</div>
</div>
<div class="search__section">
<div id="collaborators__section">
<h1>Collaborators</h1>
<ul id="collaborators__list">
    <% authorCollaborators.forEach(function(author){ %>
        <li class="collaborator">
            <% if(author.name=="no collaborators found" ){ %>
                <%= author.name %>
                    <%= author.surname %>
                        <% } else { %>
                            <a href="http://localhost:3000/authors/<%= author.id %>">
                                <%= author.name %>
                                    <%= author.surname %>
                            </a>
                            <% } %>
        </li>
        <% }) %>
</ul>
</div>
</div>
</div>

<link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://bootswatch.com/5/litera/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
        />

        <style>
            #pp{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            #homepage__button{
                margin: 20px;
                position: fixed;
            }

            #author__section{
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 50px;
            }

            body{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
        
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        
            #vis{
                letter-spacing: .5rem;
                font-size: 1.2rem;
                padding: 10px;
            }
        
            #main__container{
                display: grid;
                grid-template-columns: 60% 22%;
                column-gap: 50px;
                justify-content: center;
                margin-top: 3rem;
            }
        
            .search__section{
                padding: 20px;
                box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
                border-radius: 20px;
                height: 60vh;
        
            }

            input{
                border-radius: 20px;
                padding: 5px 10px 5px 10px;
                border: none;
                background-color: rgb(245, 245, 245);
                transition: background 300ms ease-in-out;
            }
            input:hover{
                background-color: rgba(220, 220, 220, 0.827);
            }
            input:focus{
                background-color: #fff;
                border: 5px solid rgba(105, 51, 255, 0.49);
                outline: none;
            }
        
            #logout__button{
                background-color: #fff;
                color: gray;
                border: none;
                border-radius: 20px;
                transition: 300ms ease-in-out;
            }
            #logout__button:hover{
                color: #fff;
                background-color: rgb(255, 51, 51);
                letter-spacing: .5rem;
            }
        
            #myInput{
                margin-bottom: 20px;
                width: 30%;
                margin-top: 20px;
                margin-left: 10px;
            }
            
            #articles__section, #collaborators__section{
                padding: 20px;
            }
            #articles__list{
                height: 40vh;
                padding: 10px;
                overflow: auto;
                display: grid;
                row-gap: 10px;
            }
            .article{
                background-color: rgba(222, 189, 255, 0.363);
                border-radius: 20px;
                width: fit-content;
                height: fit-content;
                padding: 10px;
                transition: 300ms ease-in-out;
            }
            .article:hover{
                background-color: rgba(211, 168, 255, 0.363);
            }
        
            #collaborators__list{
                height: 50vh;
                padding: 10px;
                overflow: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 10px;
            }
            .collaborator{
                list-style: none;
            }

            a{
                text-decoration: none;
                background-color: rgb(222, 207, 255);
                color:rgb(106, 51, 255);
                padding: 3px 5px 3px 5px;
                border-radius: 20px;
                font-size: .9rem;
                font-weight: 700;
                transition: 300ms ease-in-out;
            }
            a:hover{
                background-color: rgb(188, 167, 234);
                text-decoration: none;
                color: rgb(106, 51, 255);
            }
        </style>   